.App {
  margin: auto;
  width: 1200px;
  margin-bottom: 200px;
}

.App .page {
  margin-bottom: 1500px;
}

.main-text {
  padding: 50px;
  text-align: center;
}

.swipeable-views {
  align-items: center;
}